img {
    padding-left: 15px;
    padding-right: 15px;
}

.round {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.play {
    display: flex;
    justify-content: center;
}

progress {
    height: 6px;
    width: 0;
}

.title {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
}

.bar {
    width: 100%;
    height: 6px;
    border: 1px solid #db2518;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.point {
    height: 20px;
    width: 20px; 
    border-radius: 50%;
    background-color: #db2518;
    margin-left: -2px;
}

.duration {
    width: 100%;
}