<div class="main-content">
    <h1>Wellcome to study english</h1>
    <h2>
        Programa de estudos, essse é um programa de estudos semanal, onde você deve executar uma lição por semana seguido os seguintes passos:
    </h2>
    
    <div>
        <ul>
            <li>1º dia: escutar 5x os audios lendo suas transcrições no livro, anote as palavas que você não conhece e escreva a tradução</li>
            <li>2º dia: escutar 5x os audios lendo suas transcrições no livro, anote as palavas que você não conhece e escreva a tradução</li>
            <li>3º dia: escutar 5x os audios lendo suas transcrições no livro e repetir o que ouviu em voz baixa</li>
            <li>4º dia: escutar 5x os audios lendo suas transcrições no livro e repetir o que ouviu em voz alta, como se estivesse falando, ouvir o audio referente ao pratical phrases e escrever o que voce entendeu</li>
            <li>5º dia: escutar 5x os audios lendo suas transcrições no livro e repetir o que ouviu em voz alta, como se estivesse falando, ouvir o audio referente ao pratical phrases e escrever o que voce entendeu </li>
            <li>6º dia: escutar 5x os audios lendo suas transcrições no livro e repetir o que ouviu em voz alta, como se estivesse falando, assistir a aula de gramática referente ao capitulo</li>
        </ul>
    </div>
</div>
