<section class="header-top">
  <mat-icon class="header-side" (click)="drawer.toggle()" aria-hidden="false" aria-label="Example home icon" fontIcon="vertical_split"></mat-icon>
  <span><a routerLink="">Study English</a></span>
</section>
<div  class="outline-container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div>
        <mat-accordion hideToggle *ngFor="let b; index as i of books" mutli="false">
          <mat-expansion-panel class="mat-elevation-z0" [expanded]="step === i + 1" (opened)="setStep(i + 1)">
            <mat-expansion-panel-header class="white-icon disable_ripple">
              <mat-panel-title class="white-icon">
                {{b.book}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <lesson-painel [lessons]="b.lessons" [bookUrl]="b.book"></lesson-painel>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion hideToggle>
          <mat-expansion-panel class="mat-elevation-z0" [expanded]="step === 6" (opened)="setStep(6)">
            <mat-expansion-panel-header class="white-icon disable_ripple">
              <mat-panel-title class="white-icon">
                <a routerLinkActive="active" routerLink="/classes">Classes</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
