.video-player {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.video-painel {
    margin: 2%;
}

.video-container {
    display: flex;
    justify-content: space-around;
}